
body {
margin: 0;
font-family: sans-serif;
};

.content {
    margin-top: 10%;
}

table, td, th {
    border: 1px solid #aaa;
}

.task-table{
    max-width: 80%;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin-left: 10%;
    margin-top: 3%;
}

.filter-button {
    margin-left:10%
}

.task-striker {
    background-color: white;
    width: 60%;
    margin-top: 5%;
    margin-bottom: 20%;
    padding: 5%;
    position: absolute;
    left: 20%;
    box-shadow: 5px 10px 20px 0px;
    border-radius: 10px;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
    align-content: center;
    margin-left: 15%;
    width: 70%
    
}

.update-form {
    margin-top: 20px;
    align-content: center;
    width: 70%
    
}

#content {
    width: 70%;
    margin-top: 5%
}

.headers {
    text-align: center;
}

.login-signup{
    background-color: white;
    width: 40%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 5%;
    position: absolute;
    left: 30%;
    box-shadow: 5px 10px 20px 0px;
    border-radius: 10px;
}

.logout-button {
    display:flex;
    justify-content: flex-end;
    margin-top: 1%;
    margin-right: 2%
}